* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: rgb(17, 0, 255);
  font-family: "Times New Roman", Times, serif;
}
h2 {
  color: rgb(255, 0, 179);
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: rgb(0, 255, 34);
  font-family: "Courier New", Courier, monospace;
}
span {
  display: inline-block;
  width: 100%;
  background-color: bisque;
  color: rgb(255, 140, 0);
  font-family: "Lucida Console", "Courier New", monospace;
}
