body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}
img {
  width: 90px;
  border-radius: 308px;
  height: 90px;
}
td {
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(63, 170, 165);
  background-color: rgb(42, 95, 99);
  border-radius: 5px;
}
td:hover {
  background-color: rgb(11, 67, 69);
  cursor: pointer;
}
table {
  background-color: rgb(71, 118, 151);
}
p {
  color: white;
}
strong {
  color: white;
}
