body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
.products {
  align-items: center;
  border: 10px;
  border-radius: 5px;
  list-style: none;
}
.products li {
  background-color: aqua;
}
.products li[data-sale="true"] {
  background-color: darkkhaki;
  border-radius: 5px;
}
li {
  margin-bottom: 10px;
}
.products li:hover {
  color: red;
  cursor: pointer;
}
