body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div {
  text-align: center;
  background-color: rgb(217, 234, 242);
  width: 250px;
  border-radius: 10px;
}
img {
  border-radius: 50%;
  margin-top: 15px;
}
button {
  color: white;
  background-color: aqua;
  padding: 8px;
  margin: 15px;
  border: none;
  border-radius: 4px;
}
div :hover {
  color: cadetblue;
}
