body {
  font-family: "Segoe UI", sans-serif;
  background-color: white;
  color: #fff;
  margin: 0;
  padding: 40px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-card {
  background-color: #d9eaf2;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 240px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #366a83;
}

.product-card p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ffffff;
}

.buy-btn {
  background-color: #ffd700;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #e6c200;
}

.product-card :hover {
  color: #bee2f4;
}
